// @import './usage/layout/reset.scss';
$padding:200px;
.ellip{
     overflow: hidden;
     display: -webkit-box;
     -webkit-line-clamp: 1;
     -webkit-box-orient: vertical;
     text-overflow: ellipsis;
}
body{
    font-family: "微软雅黑", Helvetica, STHeiTi, sans-serif;
}
.fl {
    float:left;
}
.fr{
    float:right;
}
html, body{
    min-width:1200px;
}
.center{
    width:1200px;
    // height:100%;
    margin:0 auto;
    overflow: hidden;
}