@charset 'utf-8';
@import  '../../../../assets/scss/normalize.css';
@import  '../../../../assets/scss/common.scss';
@import "../../../../assets/fonts/iconfont.css";
//banner
.banner{
    width:100%;
    height:260px;
    background: #2ece90;
    .center{
        height:260px;
        background: url(../images/banner.jpg) no-repeat;
    }
}
// 关于我们
.about{
    width:100%;
    height:740px;
    .center >.fl{
        width:643px;
        margin-right:58px;
        padding-left:24px;
        .head{
            p:first-child{
                padding-top:46px;
                font-size:36px;
                color:#2ece90;
                font-weight: bold;
                line-height: 77px;
            }
            p:nth-child(2){
                width:32px;
                height:1px;
                background: #2ece90;
                margin-bottom:43px;
            }
        }
        .text{
            font-size:14px;
            line-height: 26px;
            color:#5a5e5d;
            margin-bottom:36px;
            p{
                margin-bottom:26px;
            }
        }
        .bottom{
            >div{
                text-align: center;
                p{
                    float: left;
                }
                 dl{
                    float: left;
                    color:#5a5e5d;
                    width:48px;
                    height:99px;
                    dt{
                        .iconfont{
                            font-size:33px;
                            line-height: 39px;
                        }
                    }
                    dd{
                        font-size:24px;
                        line-height: 60px;
                    }
                }
                p:nth-child(2){
                    width:1px;
                    height:46px;
                    background: #eeeeee;
                    margin-right:10px;
                }
                p:nth-child(3){
                    width:1px;
                    height:81px;
                    background: #e3e3e3;
                }
            }
            div:first-child{
                margin-right:52px;
                margin-left:13px;
                dl{
                    margin-right:74px;
                }
            }
            div:nth-child(2){
                margin-right:70px;
                dl{
                    margin-right:57px;
                }
            }
            div:nth-child(3){
                margin-right:60px;
                dl{
                    margin-right:68px;
                }
            }
        }
    }
    .center >.fr{
        >div{
            width:456px;
            height:298px;
            background: url(../images/about.jpg) no-repeat center;
        }
        padding-top:358px;
    }
}
//地图
.location{
    width:100%;
    height:731px;
    background: url(../images/location.jpg) no-repeat center;
    background-size:cover;
    .center{
        padding-top:224px;
        .text{
            margin-left:17%;
            width:316px;
            height:321px;
            background: #fff;
            border-right: 2px solid #2ece90;
            dl{
                margin-bottom:16px;
                margin-left:46px;
                overflow: hidden;
                dt{
                    margin-right:24px;
                    .iconfont{
                        font-size:20px;
                        line-height: 30px;
                        color:#2ece90;
                    }
                }
                dd{
                    p{
                        font-size:14px;
                        line-height: 30px;
                        color: #a8aeac;
                        width:184px;
                    }
                    p:last-child{
                         color:#5a5e5d;
                    }
                }
            }
            dl:first-child{
                padding-top:32px;
            }
        }
        .angle{
            margin-top:150px;
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-left: 20px solid #2ece90;
            border-bottom: 12px solid transparent;
        }
    }
}
