@charset 'utf-8';
@import  '../../../../assets/scss/normalize.css';
@import  '../../../../assets/scss/common.scss';
@import "../../../../assets/fonts/iconfont.css";
//banner
.banner{
    width:100%;
    height:600px;
    background: url(../images/banner.jpg) no-repeat center;
    background-size:cover;
    margin-bottom:188px;
    .center{
        height:600px;
        position: relative;
        top:139px;
        p{
            margin-left:73px;
            color:#fff;
        }
        p:first-child{
            padding-top:123px;
            font-size:36px;
            font-weight: bold;
            line-height: 55px;
        }
        p:nth-child(2){
            font-size:24px;
            line-height: 45px;
            margin-bottom:30px;
        }
        p:nth-child(3){
            font-size:14px;
            line-height: 65px;
            span{
                font-size:36px;
                margin: 0 7px 0 10px;
            }
        }
        // p:last-child{
        //     width:121px;
        //     height:41px;
        //     font-size:18px;
        //     text-align: center;
        //     line-height: 41px;
        //     background: #2ece90;
        //     a{
        //         color:#fff;
        //     }
        // }
    } 
}
.plan{
    width:100%;
    height:auto;
    .top{
        width:100%;
        // height:663px;
        height:auto;
        padding-bottom:81px;
        overflow: hidden;
        .left{
            width:900px;
            // height:663px;
             .bor{
                 border-left: 2px solid #2ece90;
                 border-right: 2px solid #2ece90;
                 border-bottom:2px solid #2ece90;
                .bor1{
                    background:#2ece90;
                }
            }
            // 统一设置表格
            >div{
                float:left;
                cursor: pointer;
                 >div:first-child{
                    width:196px;
                    height:120px;
                    background:#e3e3e3;
                    color:#fff;
                    text-align: center;
                    margin-bottom: 5px;
                    p:first-child, p:nth-child(2), p:nth-child(3){
                        font-size:14px;
                        padding-top:19px;
                        line-height:35px;
                    }
                    
                    p:last-child{
                        font-size:36px;
                        line-height: 47px;
                    }
                }
                >div:last-child{
                    .oli{
                        width:196px;
                        height:61px;
                        text-align: center;
                        line-height: 61px;
                        color:#484c4b;
                        font-size:16px;
                    }
                    >div:nth-child(Odd){
                        background: #f5f5f5;
                    }
                }
            }
            //第一列
            >div:first-child{
                cursor: default;
                // 第一行
                >div:first-child{
                    width:300px;
                    height:120px;
                    background:#f5f5f5;
                    line-height: 120px;
                    text-align: center;
                    font-size:24px;
                    color:#484c4b;
                    margin-bottom:5px;
                }
                // 下边一列
                >div:last-child{
                    >div{
                          width:300px;
                          height:61px;
                          background: #fff;
                          font-size:14px;
                          color:#484c4b;
                          div{
                              width:196px;
                              height:61px;
                              margin-left:24px;
                              display: table;
                              span{
                                    display: table-cell; 
                                     vertical-align:middle;
                              }
                          }
                    }
                    // 奇数背景
                    >div:nth-child(Odd){
                        background: #f5f5f5;
                    }
                }
            }
        }
        .right{
            width:236px;
            // height: 663px;
            height:auto;
            // 统一设置h3和select样式
            >div{
                 h3{
                    font-size:18px;
                    color:#484c4b;
                    font-weight: normal;
                }
                //下拉框样式
                .selec{
                    position: relative;
                    cursor:pointer;
                    div{
                          width:220px;
                          height:37px;
                          border:1px solid #e3e3e3;
                          line-height: 37px;
                          font-size:14px;
                          color:#2ece90;
                           background:#fff;
                           span:first-child{
                                margin-left:16px;
                           }
                          .fr{
                                margin-right:10px;
                                color:#a8aeac;
                            }
                    }
                     ul{
                        position:absolute;
                        left:0;
                        top:39px;
                        font-size:14px;
                        color:#484c4b;
                        width:220px;
                        // height:128px;
                        height:auto;
                        border-left:1px solid #e3e3e3;
                        border-right:1px solid #e3e3e3;
                        border-bottom:1px solid #e3e3e3; 
                        overflow:auto;
                        background:#fff;
                        z-index:1;
                        li{
                            height:40px;
                            padding-left: 16px;
                            line-height: 40px;
                            
                        }
                        li:hover{
                            background:#d5f5e9;
                        }                                      
                    }
                }
               
            }
            // 第一个div和select
            >div:first-child{
                h3{
                   line-height: 30px;
                   margin-bottom:13px;
                }
                .selec{
                    margin-bottom:17px
                }
            }
            // 第二个div和slect
            >div:nth-child(2){
                h3{
                   line-height: 60px;
                }
                .selec{
                    margin-bottom:33px;
                }
            }
            p:nth-child(3){
                font-size:30px;
                color:#c4cac6;
                line-height: 111px;
                span{
                    font-size:48px;
                    color:#2ece90;
                    margin-left:2px;
                }
            }
            // 立即投保
            .btn{
                width:240px;
                height:60px;
                background: #2ece90;
                line-height: 60px;
                color:#fff;
                font-size:24px;
                text-align: center;
                border-radius:5px;
                margin-bottom:14px;
                cursor: pointer;
                background: #ccc;
            }
            // 阅读协议
            p:last-child{
               font-size:14px;
               color:#484c4b;
               a{
                   color:#2ece90;
                   color:#ccc;
               }
            }
        }
    }
    .bottom{
        width:900px;
        padding-bottom:30px;
        //产品图片
        >div:first-child{
            img{
                width:900px;
                height:400px;
                margin-bottom:43px;
            }
        }
        // 产品问答
        >div:nth-child(2){
            width:896px;
            height:auto;
            border:2px solid #e3e3e3;
            padding-bottom:57px;
            margin-bottom:19px;
            h3{
                margin-left:50px;
                font-size:24px;
                color:#484c4b;
                padding-top:26px;
                line-height: 90px;
                span{
                    color:#d5f5e9;
                    margin-right:13px;
                }
            }
            >div {
                 div, >p{
                    margin-left:90px;
                }
                >p{
                    color:#2ece90;
                    font-size:18px;
                    line-height: 43px;
                    width:675px;
                }
                div{
                    overflow: hidden;
                    font-size:14px;
                    color:#484c4b;
                    line-height: 24px;
                    p:first-child{
                        float: left;
                    }
                    p:last-child{
                        width:675px;
                        float:left;
                    }
                }
            }
        } 
        //案例分析
        >div:nth-child(3){
            width:896px;
            height:auto;
            padding-bottom:52px;
            border:2px solid #e3e3e3;
            h3{
                margin-left:50px;
                padding-top:24px;
                font-size:24px;
                color:#484c4b;
                line-height: 92px;
                span{
                    color:#d5f5e9;
                    margin-right:13px;
                }
            }
            >div, >p{
                margin-left:90px;
            }
            >p{
                font-size:18px;
                color:#2ece90;
                line-height: 43px;
            }
            >div{
                font-size:14px;
                color:#484c4b;
                line-height: 24px;
                >p{
                    width:703px;
                }
            }
        }
    }
}